* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

/*///////////////////////////////////////////////////////// FIRST SECTION  /////////////////////////////////////////////////////////*/

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first-section {
    background-color: #1F2937;
    padding: 0 225px;
    padding-bottom: 128px;
    justify-content: space-around;
}

.hero-section {
    display: flex;
    margin-top: 64px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 32px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    width: 400px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-description {
    margin-top: -32px;
    margin-bottom: 8px;
    color: #F9FAF8;
}

.signup-btn {
    transition-duration: 0.4s;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 16px;
}

.signup-btn:hover {
    background-color: white;
    color: #3882F6;
}

.hero-img {
    background-color: grey;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*///////////////////////////////////////////////////////// SECTION SECTION  /////////////////////////////////////////////////////////*/

.second-section {
    padding-bottom: 100px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 48px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.info-img {
    border: #3882F6 solid;
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

/*///////////////////////////////////////////////////////// THIRD SECTION  /////////////////////////////////////////////////////////*/

.third-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.quote-container {
    width: 777px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin-bottom: 0;
}

.client-name {
    font-size: 24px;
    color: #1F2937;
    text-align: right;
    margin: 0 32px 0 0;
}

/*///////////////////////////////////////////////////////// FOURTH SECTION  /////////////////////////////////////////////////////////*/

.fourth-section {
    display: flex;
    justify-content: center;
    padding: 100px 225px;
}

.call-container {
    background-color: #3882F6;
    padding: 16px 0px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-title {
    font-size: 18px;
    color: white;
}

.call-text {
    color: #E5E7EB;
}

.call-btn {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}